<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a fun question game</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="../javascripts/addQuestion.js" charset="utf-8" defer></script>
  </head>
  <body>
    <% include partials/navbar %>
    <form class="" action="/created" method="post">
      <label for="category">Category</label>
      <select class="" id="category" name="category"><br>
        <option value="Sports">Sports</option>
        <option value="Science">Science</option>
        <option value="History">History</option>
        <option value="Art">Art</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Geography">Geography</option>
      </select> <br>
      <label for="players">Number of Players</label>
      <input type="number" id="players" name="players" max="10" min="1" step="1" value="1"><br>
      <label for="time">Time Per Question (seconds)</label>
      <input type="number" name="time" id="time" max="59" min="10" step="1" value="10"><br>

      <label>Question 1</label>
      <input type="text" name="questions" value=""> <br>
      <label class="options" for="">Option A</label>
      <input type="text" name="options" value=""><br>
      <label class="options" for="">Option B</label>
      <input type="text" name="options" value=""><br>
      <label class="options" for="">Option C</label>
      <input type="text" name="options" value=""><br>
      <label class="options" for="">Option D</label>
      <input type="text" name="options" value=""><br>
      <label for="">Correct Answer (A,B,C, or D)</label>
      <input type="text" name="correctanswer" pattern="[A-Da-d]{1}">
      <br>
      <button type="button" id="addquestion" name="">Add Question</button><br>
      <input type="submit" name="create" value="Create">
    </form>
  </body>

</html>
