<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include partials/navbar %>
    <% include partials/flash-messages %>
    <div class="error-container" id="game-started">
      <h1>This game has already started...</h1>
    </div>
  </body>
</html>
