<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
  </head>
  <body>
   <% include partials/navbar %>
    <!-- Nav Bar -->

    <div class="container-fluid main-div">
      <h1 class="main-title">Welcome to <%= title %></h1>
      <p>
        The newest version of your loved classic game <%= title %> is online now. One of the best games in the world can be played online with many other fans. The quality of the game &
        the multiplayer functions in the platform can grab you and keep you entertained online with
        users worldwide. Play more, learn more and stay at the top of our charts to receive the best
        rewards for our <%= title %> online.
      </p>

      <form action="/join-game" method="get">
        <button class="btn btn-success main-button"><i class="fas fa-play"></i>Join a Game!</button>
      </form>
    </div>

  </body>
</html>
