<!DOCTYPE html>
<html>
<header>
</header>
<body>
<h1>Login Page<h1>
<form action="/login" method="POST">
	<div>
	<label for "name">UserName</label>
	<input type="text" id="name" name="name"
	</div>

	<div>
	<label for "password">Password</label>
	<input type="password" id="password" name="password"
	</div>

	<div>
	<button type="submit">Login</button>
	</div>

</form>
	
</body>
</html>