<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
     <% include partials/navbar %>
     <% include partials/flash-messages %>
     <div class="usersData">
      <p class= Ptitle> Profile </p>
      <img class=ppimg2 src=<%=currentUser.image.path%> alt=profile pic>
      <p class="profiletext"> Username:
        <td><%=currentUser.username%></td>
      </p>
      <p class="profiletext"> Email:
        <td><%=currentUser.email%></td>
      </p>
      <p class="profiletext"> Wins:
        <td><%=currentUser.wins%></td>
      </p>
    </div>
    

  </body>
 
</html>
